{% block navigation %}
<div id="navigation">
<h5>Overview</h5>
  <ul>
    <li><a href="{{base}}sshd-project/index.html">Home</a> </li>
    <li><a href="{{base}}sshd-project/features.html">Features</a> </li>
    <li><a href="{{base}}sshd-project/documentation.html">Documentation</a></li>
    <li><a href="{{base}}sshd-project/downloads.html">Downloads</a></li>
    <li><a href="{{base}}sshd-project/sources.html">Sources</a></li>
    <li><a href="{{base}}sshd-project/faq.html">FAQ</a></li>
  </ul>
<h5>Community</h5>
<ul>
    <li><a href="{{base}}sshd-project/mailing_lists.html">Mailing Lists</a></li>
    <li><a href="{{base}}sshd-project/getting_involved.html">Getting Involved</a></li>
    <li><a href="{{base}}sshd-project/issue_tracking.html">Issue Tracking</a></li>
    <li><a href="{{base}}sshd-project/contributors.html">Contributors</a></li>
    <li><a href="https://www.apache.org/foundation/contributing.html">Contributing</a></li>
    <li><a href="https://www.apache.org/licenses/">License</a></li>
    <li><a href="https://www.apache.org/security/">Security</a></li>
</ul>

<h5>Sponsorship</h5>
<ul>
    <li><a href="https://www.apache.org/foundation/thanks.html">Thanks</a></li>
    <li><a href="https://www.apache.org/foundation/sponsorship.html">Sponsorship</a></li>
    <li><a href="https://www.apache.org/">apache.org</a></li>
</div><!-- navigation -->

{% endblock  %}
